.wrapper1,
.wrapper2,
.wrapper3,
.wrapper4 {
    margin: 0 auto;
}

.grid-container1 {
    background-color: black;
    width: 384px;
    height: 384px;
    margin: auto;
    display: grid;
    grid-template-columns: 82px 248px 30px;
    grid-template-rows: 114px 151px 39px 44px;
    gap: 12px;
}

.grid-container1>.item1 {
    background-color: #D6D5D0;
}

.grid-container1>.item2 {
    background-color: #CC1B05;
    grid-column: span 2;
    grid-row: span 2;
}

.grid-container1>.item3 {
    background-color: #D6D5D0;
    border-top: 11px solid black;
}

.grid-container1>.item4 {
    background-color: #015793;
    grid-row: span 2;

}

.grid-container1>.item5 {
    background-color: #D6D5D0;
    grid-row: span 2;
}

.grid-container1>.item6 {
    background-color: #D6D5D0;
}

.grid-container1>.item7 {
    border-top: 5px solid black;
    background-color: #E7C955;
}

/* Container 2 */

.wrapper2 {
    width: 384px;
    height: 384px;
}

.grid-container2-inner {
    position: absolute;
    z-index: -1;
    background-color: black;
    width: 384px;
    height: 384px;
    display: grid;
    grid-template-columns: 51px 45px 142px 130px 16px;
    grid-template-rows: 41px 105px 142px 96px;
}

.grid-container2-inner>.item1 {
    background-color: #C3CDD6;
    grid-column: span 2;
}

.grid-container2-inner>.item2 {
    background-color: #D3D3CB;
}

.grid-container2-inner>.item3 {
    background-color: #F0BB47;
}

.grid-container2-inner>.item4 {
    background-color: #C3CDD6;
    grid-row: span 3;
}

.grid-container2-inner>.item5 {
    background-color: #D3D3CB;
    grid-column: span 4;
}

.grid-container2-inner>.item6 {
    background-color: #C3CDD6;
    grid-column: span 4;
}

.grid-container2-inner>.item7 {
    background-color: #F0BB47;
}

.grid-container2-inner>.item8 {
    background-color: #C3CDD6;
    grid-column: span 3;
    border-right: 7px solid #DB402A;
}

.grid-container2-inner>.item9 {
    background-color: #DB402A;
    border-top: 7px solid black;
}

.grid-container2-outer {
    position: relative;
    top: 10px;
    left: 10px;
    background-color: black;
    width: 358px;
    height: 364px;
    display: grid;
    grid-template-columns: 34px 38px 46px 89px 54px 62px;
    grid-template-rows: 31px 91px 92px 43px 40px 19px 6px;
    gap: 7px;
}

.grid-container2-outer>.item1 {
    background-color: #C3CDD6;
    grid-column: span 2;
}

.grid-container2-outer>.item2 {
    background-color: #D3D3CB;
    grid-column: span 2;
}

.grid-container2-outer>.item3 {
    background-color: #F0BB47;
    grid-column: span 2;
    border-right: 7px solid black;
}

.grid-container2-outer>.item4 {
    background-color: #D3D3CB;
}

.grid-container2-outer>.item5 {
    background-color: #DB402A;
    grid-column: span 3;
    grid-row: span 2;
}

.grid-container2-outer>.item6 {
    background-color: #F0BB47;
    grid-column: span 2;
    border-right: 7px solid black;
}

.grid-container2-outer>.item7 {
    background-color: #C3CDD6;
    grid-row: span 2;
}

.grid-container2-outer>.item8 {
    background-color: #D3D3CB;
}

.grid-container2-outer>.item9 {
    background-color: #D3D3CB;
    border-right: 7px solid black;
}

.grid-container2-outer>.item10 {
    background-color: black;
    grid-column: span 2;
    grid-row: span 2;
}

.grid-container2-outer>.item11 {
    background-color: #C3CDD6;
}

.grid-container2-outer>.item12 {
    background-color: #C3CDD6;
    border-right: 7px solid black;
    grid-column: span 2;
}

.grid-container2-outer>.item13 {
    background-color: #F0BB47;
    grid-row: span 3;
}

.grid-container2-outer>.item14 {
    background-color: #C3CDD6;
}

.grid-container2-outer>.item15 {
    background-color: #013D6F;
    grid-column: span 2;
    grid-row: span 2;
    border-right: 7px solid black;
}

.grid-container2-outer>.item16 {
    background-color: #C3CDD6;
    grid-column: span 2;
    grid-row: span 2;
}

.grid-container2-outer>.item17 {
    background-color: black;
}

.grid-container2-outer>.item18 {
    background-color: #C3CDD6;
    grid-column: span 3;
    border-right: 7px solid black;
}

/* Container 3 */

.wrapper3 {
    width: 384px;
    height: 384px;
}

.grid-container3 {
    margin: auto;
    width: 384px;
    height: 384px;
    display: grid;
    grid-template-columns: 9px 8px 7px 9px 5px 9px 73px 8px 27px 9px 80px 9px 20px 9px 26px 9px 12px 8px 16px 9px 5px 9px 8px;
    grid-template-rows: 6px 8px 8px 8px 4px 8px 43px 9px 61px 8px 3px 10px 61px 10px 5px 9px 40px 9px 15px 9px 19px 9px 5px 8px 9px;
}

.grid-container3 > .red{
    background-color: #F02818;
}

.grid-container3 > .blue {
    background-color: #032275;
}

.grid-container3 > .yellow{
    background-color: #E1B62B;
}

.grid-container3 > .yellow-3 {
    background-color: #E1B62B;
    grid-column: span 3;
}

.grid-container3 > .blue-3{
    background-color: #032275;
    grid-row: span 3;
}

.grid-container3 > .red-3{
    background-color: #F02818;
    grid-row: span 3;
}

.grid-container3 > .item121 {
    background-color: #032275;
    grid-column: span 3;
}

.grid-container3 > .item25 {
    background-color: #F02818;
    grid-column: span 3;
}

.grid-container3 > .item20 {
    background-color: #F02818;
    grid-row: span 4;
}

.grid-container3 > .item159,
.grid-container3 > .item255 {
    background-color: #F02818;
    grid-row: span 5;
}

.grid-container3 > .item145 {
    background-color: #E1B62B;
    grid-column: span 5;
}

.grid-container3 > .item194 {
    background-color: #F02818;
    grid-column: span 5;
}

.grid-container3 > .item8,
.grid-container3 > .item70 {
    background-color: #F02818;
    grid-row: span 7;
}

.grid-container3 > .item2,
.grid-container3 > .item207 {
    background-color: #E1B62B;
    grid-row: span 9;
}

.grid-container3 > .item154 {
    background-color: #E1B62B;
    grid-row: span 13;
}

.grid-container3 > .item6 {
    background-color: #E1B62B;
    grid-row: span 15;
}

.grid-container3 > .yellow-26 {
    background-color: #E1B62B;
    grid-row: span 26;
}

/* Container 4 */
.grid-container4 {
    background-color: black;
    width: 384px;
    height: 384px;
    margin: auto;
    display: grid;
    grid-template-columns: 36px 131px 115px 87px;
    grid-template-rows: 157px 89px 109px 14px;
    gap: 5px;
}

.grid-container4 > .item1 {
    background-color: #C34920;
    grid-column: span 2;
}

.grid-container4 > .item2 {
    background-color: #EBEAEF;
    grid-column: span 2;
}

.grid-container4 > .item3 {
    background-color: #EBEAEF;
    grid-column: span 2;
    border-top: 3px solid black;
    border-bottom: 3px solid black;
}

.grid-container4 > .item4 {
    background-color: #EBEAEF;
    grid-column: span 2;
    border-top: 3px solid black;
    border-bottom: 3px solid black;
}

.grid-container4 > .item5 {
    background-color: #FCE08D;
    grid-row: span 2;
}

.grid-container4 > .item6 {
    background-color: #EBEAEF;
    grid-row: span 2;
}

.grid-container4 > .item7 {
    background-color: #1A549A;
}

.grid-container4 > .item8 {
    background-color: #EBEAEF;
       grid-row: span 2;
}

.grid-container4 > .item9 {
    background-color: #EBEAEF;
}