/* Body */
html {
    box-sizing: border-box;
    scroll-padding-top: 70px;
    scroll-behavior: smooth;
    font-size: 16px;
}

*,
*::before,
*::after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

body {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

/* NAVBAR GENEL YAPI */
.navbar {
    width: 100%;
    background: white;
    height: 70px;
    display: flex;
    align-items: center;
    border-bottom: 1px solid #00000025;
    position: fixed;
    top: 0;
    z-index: 999;
}

.navbar-inner {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
}

.navbar-left,
.navbar-right {
    display: flex;
    align-items: center;
    gap: 20px;
}

#logo-wrapper img {
    filter: invert(1) brightness(0);
    height: 40px;
}

.navbar-right p {
    font-weight: 300;
    margin: 0;
    padding-right: 20px;
    border-right: 2px solid #000;
}

.navbar a {
    text-decoration: none;
    color: black;
    font-weight: 500;
}

.navbar a:hover {
    color: rgb(99, 99, 99);
}

@media (max-width: 600px) {
    .navbar-inner {
        padding: 0 10px;
    }

    .navbar-left,
    .navbar-right {
        gap: 12px;
    }

    .navbar-right p {
        padding-right: 12px;
    }
}

/* hero - start */
.hero {
    position: relative;
    width: 100%;
    height: calc(100vh - 70px);
    margin-top: 70px;
    overflow: hidden;
    display: flex;
    align-items: center;
}

.hero-background {
    position: absolute;
    inset: 0;
    z-index: -1;
    overflow: hidden;
}

.bg-slide {
    display: flex;
    height: 100%;
    width: calc(2 * 594px);
    animation: smoothLoop 40s linear infinite;
}

.bg-slide img {
    height: 100%;
    width: auto;
    flex-shrink: 0;
    opacity: 0.6;
}

.hero-textarea {
    position: relative;
    z-index: 2;
    max-width: 840px;
    min-height: 300px;
    padding: 60px;
    color: black;
    background-color: rgba(255, 255, 255, 0.930);
    border: 1px solid #00000025;
    border-left: none;
    border-radius: 0 20px 20px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
}

.hero-textarea h1 {
    font-size: 2.7rem;
    line-height: 1.2;
    margin-bottom: 20px;
    font-weight: 600;
}

.hero-textarea p {
    font-size: 1.1rem;
    opacity: 0.85;
}

@keyframes smoothLoop {
    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(-50%);
    }
}

@media (max-width: 840px) {
    .hero-textarea {
        border-radius: 0;
        text-align: center;
    }
}

/* hero - end */
